<ngx-loading-bar [color]="'#2d404f'"></ngx-loading-bar>
<!--<pre style="color:red;font-size:50px">TEST</pre>-->
<!--<input type="text" [(ngModel)]="testurl">
<button (click)="onClick()">Alert</button>-->
<!--<button (click)="msgcomp.setMessage('SetnewMessagetest')">setmessage</button>-->
<app-messaging></app-messaging>
<!--<div class="msg_container">-->
    <!--<li ng-repeat="m in msg" class="{{m.status}} msg_{{m.id}} slideInRight animated"  ng-show="m.text" ng-click="closeBox(m)">-->
        <!--<span class="close" data-dismiss="alert" aria-label="close">&times;</span>-->
        <!--<h4>{{m.title}}</h4>-->
        <!--<p ng-bind-html="m.text"></p>-->
        <!--<div class="progress"></div>-->
    <!--</li>-->
<!--</div>-->
<!--<button (click)="testLogout()">logout</button>-->
<!--<button (click)="testUser()">test</button>-->

<!--Bootstrap Nav-->
<header class="bd-header d-flex align-items-stretch border-bottom">
  <div class="container-fluid d-flex align-items-center">
    <h1 class="d-flex align-items-center fs-4 mb-0">
      <button class="nav-link px-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
        <span class="bi bi-list"></span>
      </button>
      <img src="../assets/img/kapsiki-radiology-logo.svg" class="navbar-logo ms-0" alt="kapsiki-radiology-logo">
    </h1>
    <a class="ms-auto nav-link d-flex align-items-center" routerLink="device/devicelist" routerLinkActive="active" i18n="@@menu.configuration">
      <i class="bi bi-gear text-secondary"></i>
    </a>
    <div class="dropdown-center nav-link d-flex align-items-center mx-3">
      <a class="dropdown-toggle" href="" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle text-secondary"></i>
      </a>
      <ul class="dropdown-menu">
        <li *ngIf="user && user.user && user.user != 'anonymous'">
          <a class="dropdown-item d-flex align-items-center gap-2" href="{{authServerUrl}}/realms/{{realm}}/account" target="_blank" i18n="@@menu.edit_account">
            <i class="bi bi-pencil-square"></i>
            Edit Account
          </a>
        </li>
        <li *ngIf="hasViewRealm">
          <a class="dropdown-item d-flex align-items-center gap-2" href="{{authServerUrl}}/admin/{{realm}}/console" target="_blank" i18n="@@menu.admin_realm">
            <i class="bi bi-person-fill-gear"></i>
            Admin Realm
          </a>
        </li>
        <li *ngIf="hasAdministrator" i18n-title="@@title.app.go_to_wildfly_admin" title="Go to Wildfly Administration Console">
          <a class="dropdown-item d-flex align-items-center gap-2" (click)="gotToWildflyConsole($event)" target="_blank" i18n="@@menu.wildfly_console">
            <i class="bi bi-terminal"></i>
            Wildfly Console
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li *ngIf="user && user.user && user.user != 'anonymous'">
          <a class="dropdown-item d-flex align-items-center gap-2" href="" (click)="$event.preventDefault();logout()" i18n="@@menu.logout">
            <i class="bi bi-box-arrow-right text-danger"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="">
            <span class="bi bi-house-fill text-danger-emphasis"></span>
            Home
          </a>
        </li>
        <li class="nav-item" [permission]="{id:'menu-monitoring',param:'visible'}">
          <a class="nav-link d-flex align-items-center gap-2" routerLink="monitoring/associations" routerLinkActive="active" i18n="@@menu.monitoring">
            <i class="bi bi-display text-primary"></i>
            Monitoring
          </a>
        </li>
        <li class="nav-item" [permission]="{id:'menu-study',param:'visible'}">
          <a class="nav-link d-flex align-items-center gap-2" routerLink="study/study" routerLinkActive="active" i18n="@@menu.navigation">
            <i class="bi bi-window-stack text-primary-emphasis"></i>
            Navigation
          </a>
        </li>
      </ul>
  
      <hr class="my-3">
  
      <ul class="nav flex-column mb-auto">
        <li class="nav-item" [permission]="{id:'menu-configuration',param:'visible'}">
          <a class="nav-link d-flex align-items-center gap-2" routerLink="device/devicelist" routerLinkActive="active" i18n="@@menu.configuration">
            <i class="bi bi-gear  text-dark"></i>
            Configuration
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="" data-bs-toggle="collapse" data-bs-target="#navbarProfile" aria-controls="navbarProfile" aria-expanded="false" aria-label="Toggle profile">
            <i class="bi bi-person-circle text-success"></i>
            Profile
          </a>
          <div id="navbarProfile" class="w-100 collapse">
            <ul class="nav flex-column ms-3">
              <li *ngIf="user && user.user && user.user != 'anonymous'">
                <a class="d-flex align-items-center gap-2" href="{{authServerUrl}}/realms/{{realm}}/account" target="_blank" i18n="@@menu.edit_account">
                  <i class="bi bi-pencil-square"></i>
                  Edit Account
                </a>
              </li>
              <li *ngIf="hasViewRealm">
                <a class="d-flex align-items-center gap-2" href="{{authServerUrl}}/admin/{{realm}}/console" target="_blank" i18n="@@menu.admin_realm">
                  <i class="bi bi-person-fill-gear"></i>
                  Admin Realm
                </a>
              </li>
              <li *ngIf="hasAdministrator" i18n-title="@@title.app.go_to_wildfly_admin" title="Go to Wildfly Administration Console">
                <a class="d-flex align-items-center gap-2" (click)="gotToWildflyConsole($event)" target="_blank" i18n="@@menu.wildfly_console">
                  <i class="bi bi-terminal"></i>
                  Wildfly Console
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li *ngIf="user && user.user && user.user != 'anonymous'">
                <a class="d-flex align-items-center gap-2" href="" (click)="$event.preventDefault();logout()" i18n="@@menu.logout">
                  <i class="bi bi-box-arrow-right text-danger"></i>
                  Logout
                </a>
              </li>    
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" (click)="$event.preventDefault();productLabelling()" i18n="@@about">
            <i class="bi bi-info-circle-fill text-info"></i>
            About
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <main class="px-4 pt-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

          <!--Main content-->
          <div class="language_switcher" *ngIf="languageSwitcher && languageSwitcher.currentSelectedLanguage">
            <div class="default_block" (click)="languageSwitcher.open = !languageSwitcher.open">
                <img src="{{languageSwitcher.currentSelectedLanguage.flag}}">
                <span>{{languageSwitcher.currentSelectedLanguage.nativeName}}</span>
            </div>
            <ul *ngIf="languageSwitcher.open" class="languages">
                <li *ngFor="let lang of languageSwitcher.languageList" (click)="switchLanguage(lang)">
                    <img src="{{lang.flag}}"> <span>{{lang.nativeName}}</span>
                </li>
            </ul>
        </div>
        <div class="overlay" *ngIf="dcm4cheeArch && dcm4cheeArch.open" (click)="mainservice.dcm4cheeArcConfig.open = false"></div>
        <!--
        <div class="clock" [ngClass]="{'extend':!clockUnExtended && !dcmuiHideClock}" *ngIf="currentServerTime || j4care.is(mainservice, 'dcm4cheeArcConfig.hasMoreThanOneBaseUrl')" (mouseenter)="clockUnExtended = true" (mouseleave)="hideExtendedClock()">
            <div class="base_url_switcher" *ngIf="j4care.is(mainservice, 'dcm4cheeArcConfig.hasMoreThanOneBaseUrl')">
                <i class="config glyphicon glyphicon-cog" (click)="mainservice.dcm4cheeArcConfig.open = !mainservice.dcm4cheeArcConfig.open"></i>
                <ul *ngIf="j4care.is(mainservice,'dcm4cheeArcConfig.open')" class="base_url_dropdown">
                    <li class="header" title="{{changeDeviceText.title}}">{{changeDeviceText.label}}:</li>
                    <li *ngFor="let url of _.get(mainservice, 'dcm4cheeArcConfig.dcm4chee-arc-urls')" (click)="switchBaseUrl(url)" title="{{url}}" [ngClass]="{'selected':mainservice['dcm4cheeArcConfig']['deviceNameUrlMap'][url] === myDeviceName}">
                        {{mainservice['dcm4cheeArcConfig']['deviceNameUrlMap'][url]}}
                    </li>
                </ul>
            </div>
            <div class="default_block" >
                <span>{{dcm4cheeArch['deviceNameUrlMap'][mainservice.baseUrl]}}</span>
            </div>
        
            <ng-container *ngIf="currentServerTime && !dcmuiHideClock">
                <div class="time" i18n-title="@@title.app.server_time_param" title="Server time: {{j4care.fullDateToString(currentServerTime)}}">{{currentServerTime.getHours() < 10 ? '0'+currentServerTime.getHours():currentServerTime.getHours()}}:{{currentServerTime.getMinutes() < 10 ? '0'+currentServerTime.getMinutes():currentServerTime.getMinutes()}}:{{currentServerTime.getSeconds() < 10 ? '0'+currentServerTime.getSeconds():currentServerTime.getSeconds()}}</div>
                <div class="text">{{mainservice.archiveDeviceName || myDeviceName}}</div>
            </ng-container>
            <ng-container *ngIf="dcmuiHideClock">
                <div class="text">{{mainservice.archiveDeviceName || myDeviceName}}</div>
            </ng-container>
        </div>
        -->
        
        <!--<img src="assets/img/logo.png" class="logo" i18n-title="@@about" title="About" (click)="productLabelling()" >-->
        <router-outlet ></router-outlet>
        <div
                class="scroll_up glyphicon glyphicon-menu-up animated"
                *ngIf="showScrollButton"
                [ngClass]="{fadeIn:showScrollButton, fadeOut:!showScrollButton}"
                (click)="scrollUp()">
        </div>
        

        </div>
  
      </main>
    </div>
  </div>
















<link rel="stylesheet" href="/resources/css/style.css">
