body {
  background-color: navy; }

ul.nav#mainmenu {
  background-color: navy; }

.toggle-button.out {
  background-color: navy; }

.nav#mainmenu li {
  color: navy; }

.white_design .more {
  background-color: navy; }

.clock {
  background-color: navy; }
